################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tools/.vs/Tools/v16
/Tools/bin/Debug/netstandard2.0
/Tools/obj
